version: "3.7"

services:

  app_proxy:
    environment:
      APP_HOST: umbrel.local
      APP_PORT: 51121

  server:
    image: "uusec/firefly:latest"
    devices:
      - /dev/net/tun
    network_mode: host
    volumes:
      - /lib/modules:/lib/modules
      - /home/umbrel/umbrel/app-data/uzurka-firefly/data:/firefly/conf
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    restart: unless-stopped
    environment:
      - TZ=Europe/Paris
      - FIREFLY_PASSWORD=changeme
      - FIREFLY_AUTO_SSL=false
      - FIREFLY_PORT=51121
    security_opt:
      - systempaths=unconfined
      - apparmor=unconfined
